# Ignore node_modules directory
node_modules

# Ignore .env file
.env

# Ignore .DS_Store file
.DS_Store

# Ignore .vscode directory
.vscode

# Ignore .idea directory
.idea

# Ignore .cache directory
.cache

# Ignore .next directory
.next

# Ignore .nuxt directory
.nuxt

# Ignore .yarn directory
.yarn

# Ignore .yarnrc.yml file
.yarnrc.yml
